
body{
    font-family: "Open Sans";
    margin:0;
    background: linear-gradient(to right, #ffffff, #e0e0e0);
}
.itemholder{

    padding-left:10px;
    background: linear-gradient(to right, #ffffff, #f0f0f0)
}

#title{
    padding: 40px;
    padding-top: 20px;
    padding-bottom: 3px;
}
#title h1{
    margin-bottom: 4px;
    margin-left: 10px;
    font-size: 30px;
    font-weight: bold;
    color: #000;
    font-family: "Open Sans";
}

.container{
    
    padding: 15px;
    height: 100vh;
}

#tasklist{
    margin-left:50px;
    display:block;
    height: 400px;
    width: 600px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #00000026;
    overflow:auto;
    background: linear-gradient(to right, #56ab2f, #a8e063);
}

#tasklist ul{
    padding-left:5px;
    padding-right: 5px;
    list-style-type: none;
    margin-top: 25px;
}

#tasklist ul.li{
    display:block;
    padding:2px;

}

.task{
    padding:10px;
    margin:2px;
    background-color: hsla(0, 0%, 0%, 0.041);
    border-radius: 10px;
}

.type{
    display:inline-block;
    margin-left:90px;
    padding:8px;
    padding-top: 7px;
    color: white;
    border-radius: 13px;
    background-color: green;
}

#status{
    margin-left: 260px;
    text-align: right;
}

.task label{
    color:#f0f0f0;
}

.contentholder{
    margin:10px;
    display: flex;
    padding-left: 290px;
    align-content: center;

}

.contentholder button{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #56ab2f;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: none;
}

.contentholder button:hover{
    background-color: #a8e063;
    cursor: pointer
}

#addtaskcontainer{
    display:flex;
    align-items: top;
    justify-content: center;
}

#addtaskdiv{
    display:block;
    height: 350px;
    width: 600px;
    background: linear-gradient(#56ab2f, #a8e063);
    border-radius: 15px;
    padding-left:20px;
    padding-right: 20px;
}

#addtaskdiv label{
    color: white;
    font-size: 18px;
    padding-left: 15px;
}

#addtaskdiv input{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: none;
}

#addtaskdiv select{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: none;
}

#addtaskdiv button{
    
    margin-left: 260px;
    padding: 10px;
    border-radius: 10px;
    background-color: #56ab2f;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: none;
}