body {
    font-family: "Open Sans";
    margin: 0;
    background: linear-gradient(to right, #ffffff, #e0e0e0);
}

.itemholder {
    padding-left: 10px;
    background: linear-gradient(to right, #ffffff, #f0f0f0);
}

#title {
    padding: 40px;
    padding-top: 20px;
    padding-bottom: 3px;
}

#title h1 {
    margin-bottom: 4px;
    margin-left: 10px;
    font-size: 30px;
    font-weight: bold;
    color: #000;
    font-family: "Open Sans";
}

.container {
    padding: 15px;
    height: 100vh;
}

#tasklist {
    margin:auto;
    display: block;
    height: 800px;
    width: 90vw; /* Fixed 'vm' to 'vw' */
    border-radius: 15px;
    box-shadow: 5px 5px 5px #00000067;
    overflow: auto;
    background: linear-gradient(to right, #56ab2f, #a8e063);
}

#tasklist ul {
    padding-left: 5px;
    padding-right: 5px;
    list-style-type: none;
    margin-top: 25px;
}

.task{
    position: relative;
    padding: 15px;
    margin: 2px;
    background-color: hsla(0, 0%, 0%, 0.24);
    border-radius: 10px;
}

.type {
    display: inline-block;
    position: absolute;
    left: 400px;
    bottom: 5px;
    width: fit-content;
    padding: 10px;
    padding-top: 10px;
    color: white;
    border-radius: 13px;
    background-color: green;
}

.statusincomplete {
    display: inline-block;
    color:darkred;
    background: red;
    padding: 10px;
    border-radius: 15px;
    bottom: 5px;
    width: fit-content;
    position: absolute;
    right:20px;
}

.statuscomplete {
    display: inline-block;
    color: darkgreen;
    background: lightgreen;
    padding: 10px;
    border-radius: 15px;
    bottom: 5px;
    width: fit-content;
    position: absolute;
    right:20px;
}

.contentholder {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.contentholder button {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #56ab2f;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: none;
}

.contentholder button:hover {
    background-color: #a8e063;
    cursor: pointer;
}

#addtaskcontainer {
    display: flex;
    align-items: top;
    justify-content: center;
}

#addtaskdiv {
    display: block;
    height: 350px;
    width: 600px;
    background: linear-gradient(#56ab2f, #a8e063);
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

#addtaskdiv label {
    color: white;
    font-size: 18px;
    padding-left: 15px;
}

#addtaskdiv input {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: none;
}

#addtaskdiv select {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: none;
}

#addtaskdiv button {
    margin-left: 260px;
    padding: 10px;
    border-radius: 10px;
    background-color: #56ab2f;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: none;
}
#addtaskdiv button:hover{
    color: darkgreen;
    background-color: #a8e063;
}
#tasktemplate {
    display: none;
}

.task p:not(.status){
    display: inline;
    margin: 0px;
    color:white;
}

.statusincomplete:hover{
    background-color: white;
    transition: background-color, 0.2s;
}

.statuscomplete:hover{
    background-color: white;
    transition: background-color, 0.2s;
}

.markAsDoneButton{
    position: absolute;
    right: 250px;
    border-radius: 15px;
    padding: 10px;
    bottom: 7px;
    display: none;
    border: none;
}

.task:hover button{
    display: block;
    transition: display,0.2s;
}

.markAsDoneButton:hover{
    background: #a8e063;
    color: darkgreen;
}

.task:hover{
    background-color: hsla(0, 0%, 0%, 0.493) ;
    transition: all, 0.2s;
}

.deleteTaskButton{
    display:none;
    position: absolute;
    background: rgb(252, 80, 80);
    border:none;
    color: white;
    padding:10px;
    bottom: 7px;
    border-radius: 15px;
    right:150px;
}

.deleteTaskButton:hover{
    background-color: red;
    color: white;
}